# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# node_modules equiv de bun
bun.lockb

# Base de datos real
db.sqlite
mydb.sqlite

# Base de datos test
tests/test.sqlite
mydb.test.sqlite

# PID files
bun-test-server.pid

# Archivos de entorno reales
.env
.env.production
.env.test

# Zip generado
build.zip

# Output del build
dist/
